<!DOCTYPE html>
<html>
<head>
  <title>NomsterQuiz1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse" role="navigation">
      <%=link_to 'Nomster Quiz', root_path, class: 'navbar-brand' %>
</nav>

<%= yield %>

</body>
</html>
